@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

*{ margin: 0%; 
   padding: 0%;
   box-sizing: border-box;
   font-family: sans-serif;
}

header { display: flex;
        align-items: center;
    background-color: rgb(92, 87, 97);   
    gap: 20px; 
    font-size: 40px;
    justify-content: space-between;
    padding: 2rem;
}
.logo {width: 150px; 
    justify-content: space-between;
    
}

.nav_menu { 
    display: flex;
    gap: 15px;
    align-items: center;  
      
      }

.menu { 
    display: flex;
    font-family: 'Playfair Display', serif;
    list-style: none;
    gap: 25px;  
}

.menu a{ 
    color: #fafafa; 
text-decoration:none;
}

.Titulo { color:purple ;
}

.presentacion {
    background-image: url(../imgs/presentacion.jpg);
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentacion h1 { 
    color: rgb(48, 104, 153);
    padding-inline: 10px;
    size: 20vh;
    font-size: 6rem;
    font-style: italic;
    line-height: 1;
    text-shadow:4px 4px #fafafa;
}

.post { 
    display: flex;
    color: rgb(107, 19, 124);
    background-color: aqua;
    width: 350px;;
    padding: 5px;
    
}

.img_post { 
    width: 100%;

}


.cajero {  
    height: 100vh;
    background-color: blueviolet;
    padding: 20px;
    display: grid;
    grid-template-areas:
    "img1 img2 img3 img4"
    "img5 img6 img7 img8";
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat (4,1fr);
    border: 5px solid rgb(0,0,0);
    gap: 20px;
 }

 .cajas {   
   display: grid;
   height: auto; 
   background-size:cover;
   background-position:center ;
   border: 5px solid rgb(55, 16, 227);
   align-items: center;
   justify-content: center;
   font-size: x-large;
  
}  
 .caja1{
   grid-area: img1;
   background-image: url(../imgs/cuadro.jpg);   
}

.caja2{
   grid-area: img2;
   background-image:url(../imgs/dino.jpg);
} 
.caja3{
   grid-area: img3;
   background-image:url(../imgs/giogio.jpg);
} 
.caja4{
   grid-area: img4;
   background-image:url(../imgs/luffy.jpg);
} 
.caja5{
   grid-area: img5;
   background-image:url(../imgs/oso.jpg);
} 
.caja6{
   grid-area: img6;
   background-image:url(../imgs/perritos.jpg);
} 
.caja7{
   grid-area: img7;
   background-image:url(../imgs/sheng.jpg);
} 
.caja8{
   grid-area: img8;
   background-image:url(../imgs/trunks.jpg);
} 

@media screen and (max-width:500px) {

   .cajero {    
    display: flex;     
   flex-direction: column;   
   }
   .cajas { 
   flex: 1;
   }
}
