header { 
    display: flex;
    align-items: center;
    background-color:$maincolor;   
    gap: 20px; 
    font-size: 40px;
    justify-content: space-between;
    padding: 1rem;
    .logo {width: 150px; 
        justify-content: space-between;
    }
    .nav_menu { 
        display: flex;
        gap: 15px;
        align-items: center;
        .menu { 
            display: flex;
            font-family: 'Playfair Display', serif;
            list-style: none;
            gap: 25px;  
            .menu_li{ 
                color: $secondcolor; 
                text-decoration:none;
            
            &:hover{
                color: #ffffff;
                border: 5px solid #000000;
             }
            }
        }
    }


}
